$yellow:#f9b43b;
$orange: #eb8c38;
$black: #2f3234;
$dark:#000;
$tomato:#e45028;
$white: #fff;

.about {
  background: $dark url(../images/section_1/2x/video-bg@2x.png) 0 0 no-repeat;
  background-size: cover;
  height: 650px;
}

.about:before {
  content: '';
  position: absolute;
  background: url(../images/section_1/2x/texture.png) 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

}

.section {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 90px;
  padding: 10px 0;

}

.logo {
  display: block;
  width: 92px;
  height: 69px;


  &__img {
    max-width: 100%;
    min-height: 100%;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 756px;


  &__link {
    color: $white;
    font-size: 13px;
    font-family: 'ubuntu';
    text-transform: uppercase;
    font-weight: 500;
    line-height: 2.31;
    margin-right: 10px;
  }
}

.nav__item {
  align-items: center;
  display: inline-block;
  margin-right: 10px;

  &:after {
    display: inline-block;
    content: '';
    vertical-align: middle;
    background-color: $white;
    width: 5px;
    height: 5px;
    border-radius: 100%;
  }

}

.nav__item:last-child {
  margin-right: 0;

  &:after {
    display: none;
  }
}

.nav__list {
  display: flex;
}

.nav__item {
  display: inline-flex;
  margin-right: 17px;
}

.order__button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.order__button {
  background-color: $tomato;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  color: $white;
}

.promo {
  position: absolute;
  top: 40%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 100%;

}

.promo__content {
  display: flex;
  align-items: center;
  margin-bottom: px;
}

.promo__img {
  max-width: 420px;
  height: auto;
  display: block;

}

.promo__title {
  font-family: 'gagalin';
  text-transform: uppercase;


  font-size: 72px;

  color: $yellow;
}

.promo__desc {
  font-family: 'lifehack';
  text-transform: lowercase;
  line-height: 65px;
  font-weight: 500;
  font-size: 65px;
  color: $white;
  align-self: flex-start;

}

.promo__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: -34px;
  text-align: left;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 95px;
}

.arrow__scroll {
  width: 30px;
  height: 15px;
  margin: auto;
}

.promo__left {
  margin-right: 22px;
}

.sidescroll {
  position: fixed;
  display: block;
  padding: 6px;
  top: 85px;
  right: 23%;

  &__link {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    bottom: -25%;
    right: -26%;
  }

  .sidescroll__item {
    width: 16px;
    height: 16px;
    border: 2px solid transparent;
    border-radius: 100%;
    margin-bottom: 10px;
    line-height: 16px;

    &:last-child {
      margin-bottom: 0;
    }

  }

  .sidescroll__item--active {
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 100%;
  }
}




/*# sourceMappingURL=style.css.map */