.about {
  position: relative;
 
  margin: 0 auto;
  width: 100%;
  height: 650px;
  background: #000 url(../images/section_1/2x/video-bg@2x.png) 0 0 no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__overlay {
  background:url(../images/section_1/2x/texture@2x.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  opacity: .5;
}

.section {
  height: 100%;
  min-height: 650px;
 
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  padding: 10px 0;
}

.logo {
  display: block;
  width: 92px;
  height: 69px;
}

.logo__img {
  max-width: 100%;
  min-height: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index:10;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 756px;
}

.nav__link {
  color: #fff;
  font-size: 13px;
  font-family: 'ubuntu';
  text-transform: uppercase;
  font-weight: 500;
  line-height: 2.31;
  margin-right: 15px;
}

.nav__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  margin-right: 15px;
}

.nav__item:after {
  display: inline-block;
  content: '';
  vertical-align: middle;
  background-color: #fff;
  width: 5px;
  height: 5px;
  border-radius: 100%;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item:last-child:after {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 17px;
}

.order__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.order__button {
  background-color: #e45028;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
}

.promo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__img {
  width: 420px;
  height: 425px;
}

.promo__title {
  font-family: 'gagalin';
  text-transform: uppercase;
  line-height: 85px;
  font-size: 72px;
  color: #f9b43b;
}

.promo__desc {
  font-family: 'lifehack';
  text-transform: lowercase;
  line-height: 60px;
  font-weight: 500;
  font-size: 72px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */