/* about*/
.about {
  background: #000 url(../images/section_1/2x/video-bg@2x.png) 0 0 no-repeat;
  background-size: cover;
  height: 650px;
}

.about:before {
  content: '';
  position: absolute;
  background: url(../images/section_1/2x/texture.png) 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/*section*/
.section {
  height: 100%;
  min-height: 650px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 90px;
  padding: 10px 0;
}

/* logo*/
.logo {
  display: block;
  width: 92px;
  height: 69px;
}

.logo__img {
  max-width: 100%;
  min-height: 100%;
}

/*nav*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 756px;
}

.nav__link {
  color: #fff;
  font-size: 13px;
  font-family: 'ubuntu';
  text-transform: uppercase;
  font-weight: 500;
  line-height: 2.31;
  margin-right: 10px;
}

.nav__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  margin-right: 10px;
}

.nav__item:after {
  display: inline-block;
  content: '';
  vertical-align: middle;
  background-color: #fff;
  width: 5px;
  height: 5px;
  border-radius: 100%;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item:last-child:after {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 17px;
}

/* *button*/
.order__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.order__button {
  background-color: #e45028;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
}

/*promo */
.promo {
  position: absolute;
  top: 40%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: px;
}

.promo__img {
  max-width: 420px;
  height: auto;
  display: block;
}

.promo__title {
  font-family: 'gagalin';
  text-transform: uppercase;
  font-size: 72px;
  color: #f9b43b;
}

.promo__desc {
  font-family: 'lifehack';
  text-transform: lowercase;
  line-height: 65px;
  font-weight: 500;
  font-size: 65px;
  color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.promo__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: -34px;
  text-align: left;
}

.promo__left {
  margin-right: 22px;
}

/*arrow*/
.arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 37px;
}

.arrow__scroll {
  width: 30px;
  height: 15px;
  margin: auto;
}

/*sidescroll*/
.sidescroll {
  position: fixed;
  display: block;
  padding: 6px;
  top: 85px;
  right: 23%;
}

.sidescroll__link {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: white;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  bottom: -25%;
  right: -26%;
}

.sidescroll .sidescroll__item {
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-radius: 100%;
  margin-bottom: 10px;
  line-height: 16px;
}

.sidescroll .sidescroll__item:last-child {
  margin-bottom: 0;
}

.sidescroll .sidescroll__item--active {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 100%;
}

/*products*/
.section__title {
  font-family: 'gagalin';
  font-weight: 400;
  font-size: 72px;
  line-height: 0.89;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}

.products {
  background-image: url(../images/section_2/@2x/bg@2x.png);
  color: #2f3234;
}

.products__item {
  width: 33%;
  overflow: hidden;
  margin-bottom: 20px;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.products__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.products__icon {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: auto;
}

.products__info {
  text-align: center;
}

.products__title {
  font-family: 'lifehackmedium';
  font-weight: 500;
  font-size: 24px;
  padding: 5px 0;
}

.products__subtitle {
  font-family: 'ubuntulight';
  color: rgba(47, 50, 52, 0.8);
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 65px;
}
/*# sourceMappingURL=style.css.map */