html,
body{
  width: 100%;
  height:100%;
}
$yellow:#f9b43b;
$orange: #eb8c38;
$black: #2f3234;
$tomato:#e45028;
$white: #fff;

body{
  font-family: 'ubuntu';
  font-weight:300;
  color:$white;
  background-color: $white;
  font-size:14px;
  line-height:1.42;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after{
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
button{
  border:none;
  background:transparent;
  cursor:pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.wrapper:after {
  content: "";
  display: block;
  height: 60px;
}
.container {
  max-width: 960px;
  display:flex;
  position: relative;
  flex-direction:column;
  margin: auto;
  padding: 0 10px;
  
}
