/*arrow*/
.arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: rem(5px);
  
  @include tablets{
    bottom:rem(16px);
     }

  &__scroll {
    width: rem(30px);
    height: rem(15px);
    fill:$white;
    margin: auto;
    &:hover{
      fill:$yellow;
    }
    @include tablets{
      width:rem(25px);
     height:rem(12px);
       }
  }
  
}

