/*arrow*/
.arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: rem(37px);
  &__scroll {
    width: rem(30px);
    height: rem(15px);
    fill:$white;
    margin: auto;
  }
  
}

