/* *button*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline:none;
}

.btn{
  background-color: $tomato;
  padding:rem(10px) rem(15px);
  border-radius: rem(5px);
  color: $white;
  text-transform: uppercase;
}

.btn--black{
  background-color:$black;
  &:hover{
    background-color:$dark;
  }
  @include tablets {
    font-size:10px;
  }
  @include phones {
    font-size:12px;
  }
}

