/* *button*/
.btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn{
  background-color: $tomato;
  padding:rem(10px) rem(15px);
  border-radius: rem(5px);
  color: $white;
  
}

.btn--black{
  background-color:$black;
  padding:rem(12px) rem(17px);
}