.delivery {
  background-image: url("../images/section_7/form-bg.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;

  &form {
    color: $white;
    font-family: 'ubuntu';
    font-size: rem(14px);
  }
  
}

