.footer {
	height: 60px;
	margin-top: -60px;
	min-width: 100%;
	position: absolute;
	background: url("../images/section_7/chalkboard_texture.jpg");
	background-size: cover;

	&__wrap {
		display: flex;
		justify-content: space-between;

		align-items: center;
		height: 100%;
		max-width: 90%;
		margin: auto;
	}
}

.footer__left {
	width: 50%;
	font-family: 'ubuntu';
	padding: 5px;
	font-size: 14px;
}
.footer__address {
	color: $white;
	font-weight: 300;
	margin-bottom: 10px;
}
.footer__link {
	font-family: 'ubuntu';
	font-weight: 700;
	color: $tomato;
}

.footer__icon {
	width: 12px;
	height: 11px;
	margin-right: 10px;
	text-decoration: none;
	fill: $tomato;
}

.footer__right {
	width: 50%;
	text-align: right;
}
