.footer {
	height: 60px;
	margin-top: -60px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	background: url("../images/section_7/chalkboard_texture.jpg");
	background-size: cover;

	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 90%;
		margin: 0 auto;
	}
}

.footer__col {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	font-family: 'ubuntu';
	padding: 5px;
	font-size: 14px;
}

.footer__text {
	color: $white;
	font-weight: 300;
	margin-bottom: 10px;
}

.footer__link {
	font-family: 'ubuntu';
	font-weight: 700;
	color: $tomato;
}

.footer__icon {
	width: 12px;
	height: 11px;
	margin-right: 10px;
	text-decoration: none;
	fill: $tomato;
}

.footer__col--right {
	text-align: right;
	vertical-align: middle;

}