/*header */
.header {
  display: flex;
  padding:12px 0;
  width:94%;
  justify-content: space-between;
  align-items: center;

  @include tablets{
    width:100%;
  }

}
.header__logo, .nav{
  flex-grow:1;
}