.ingredients {
  display: flex;
  position: absolute;
  left: 0;
  top: 10%;
  cursor: pointer;
}

.ingredients__btn {
  position: relative;
  width: rem(90px);
  height: rem(90px);
  display: flex;
  border-radius: rem(5px);
  justify-content: center;
  background-color: $orange;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}


.ingredients__btn-title {
  color: $white;
  font-family: 'gagalin';
  font-size: rem(14px);
  font-weight: 400;
}



.ingredients__info {
  background: rgba(255, 255, 255, 0.9);
  border-radius: rem(5px);
  padding: rem(10px);
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  transition: opacity .5s;
  width: rem(260px);
  height: rem(350px);
  display: none;
  transition: opacity .5s;
  right: rem(-9999px);
}

.ingredients__btn:hover .ingredients__info {
  border-radius: rem(5px);
  padding: rem(10px);
  opacity: 1;
  right: 0;
  display: block;
}

.ingredients__list {
  display: flex;
  flex-direction: column;
}

.ingredients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $charcoal;
  margin-bottom: rem(10px);
}
.ingredients__icon {
  width: rem(44px);
  height: rem(40px);
}

.ingredients__name {
  font-weight: 500;
  text-align: center;
  flex: 1;
}

.ingredients__gr {
  margin-left: auto;
}

.calories {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'gagalin';
  font-size: rem(14px);
  color: rgba(255, 255, 255, 0.6);
  @include tablets {
   top: -70%;
  right: -80%;
  }
}

.calories__icon {
  height: rem(60px);
  width: rem(60px);
  position: relative;
  fill: $white;
  fill-opacity: 0.5;

}

.calories__num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(20px);
}

.calories__sum {
  position: absolute;
  margin-top: 0;
  padding: rem(3px);
  font-size: rem(20px);
}