/*nav*/
.nav__wrap{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  padding: rem(3px);
}
.nav {
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  width: rem(756px);

  &__link {
    color: $white;
    font-size: rem(13px);
    font-family: 'ubuntumedium';
    text-transform: uppercase;
    font-weight: 500;
    line-height: 2.31;
    margin-right: rem(10px);

    &:hover{
      border-bottom:2px solid $tomato;
      margin-bottom:2px;
    }
  }

  @include tablets{
    display:none;
    
  }
}

.nav__item {
  align-items: center;
  display: inline-block;
  margin-right: rem(10px);

  &:after {
    display: inline-block;
    content: '';
    vertical-align: middle;
    background-color: $white;
    width: rem(5px);
    height: rem(5px);
    border-radius: 100%;
  }

}

.nav__item:last-child {
  margin-right: 0;

  &:after {
    display: none;
  }
}

.nav__list {
  display: flex;

  &__item {
    display: inline-flex;
    margin-right: rem(17px);
  }
  
}




.order{
  display:flex;
  align-items:center;
  @include tablets{
    align-items:flex-end;
    
  }
}


.hamburger {
  box-sizing: border-box;
  margin-left: 15px;
  width: 24px;
  cursor: pointer;
  visibility: hidden;
  
  @include tablets{
    visibility: visible;
  }
}
 

.hamburger span {
  background:$white;
  border-radius:10px;
  display: block;
  height: 4px;
  margin-bottom: 5px; 
}
