/*nav*/
.nav {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  /*width: rem(756px);*/
  white-space:nowrap;
  &__link {
    color: $white;
    font-size: rem(13px);
    font-family: 'ubuntumedium';
    text-transform: uppercase;
    font-weight: 500;
    margin-right: rem(10px);
  }

  @include tablets{
    display:none;
    
  }
}

.nav__item {
  align-items: center;
  display: inline-flex;
  margin-right: rem(10px);
  flex-wrap:nowrap;
  &:after {
    display: inline-flex;
    content: '';
    vertical-align: middle;
    background-color: $white;
    width: rem(5px);
    height: rem(5px);
    border-radius: 100%;
  }

}

.nav__item:last-child {
  margin-right: 0;

  &:after {
    display: none;
  }
}

.nav__list {
  display: flex;

  &__item {
    display: inline-flex;
    margin-right: rem(17px);
  }
  
}

/*order*/
.order{
  display:flex;
  align-items:center;
  @include tablets{
    align-items:center;
    
  }
}
/*hamburger__nav*/

.hamburger{
 visibility: hidden;
 transition:visibility 0s linear 0.5s,opacity 0.5s linear;
 opacity:0;
  right: -9999px;
  background:$charcoal;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  max-width:100%;
  z-index:-80;
  display:flex;
  flex-direction:column;
  justify-content:center;

        &__link{
      color: $white;
      font-size: rem(28px);
      font-family: 'ubuntumedium';
      text-transform: uppercase;
      font-weight: 500;
      line-height:rem(62px);
      
        &:after {
          display:flex;
          content: '';
          background-color: $white;
          position: absolute;
          left:50%;
          width: rem(5px);
          height: rem(5px);
          border-radius: 100%;
        }
    }
   
}

.hamburger__item{
  display:flex;
  justify-content:center;
  align-items:center;
}

.hamburger__item:last-child .hamburger__link:after{
  display:none;
}


.hamburger.active{
  visibility: visible;
  opacity:1;
  overflow: hidden;
  transition-delay:0s;
     @include tablets{
     visibility: visible;
 
    
     }
     @include phones{
     visibility: visible;
     }
 }
 .hamburger__link{
       @include tablets{
         font-size: rem(20px);
       }
       @include phones{
         font-size: rem(16px);
     }
 }
 
 .hamburger.hidden{
   visibility:hidden;
 }


/*hamburger_btn*/
.hamburger__btn {
  box-sizing: border-box;
  margin-left: 15px;
  width: 24px;
  cursor: pointer;
 visibility: hidden;
  @include tablets{
    visibility: visible;
  }
}
 
.hamburger__btn .line {
  border-radius:10px;
  display: block;
  height: 4px;
  margin-bottom: 5px; 
  background: $white;
}

.hamburger__btn.active .line:nth-child(1){
    transform: rotate(-45deg) translate(-10px, 6px);
    background-color:$tomato;
}
.hamburger__btn.active .line:nth-child(2){
  opacity: 0;
}
.hamburger__btn.active .line:nth-child(3){
  transform: rotate(44deg) translate(-6px, -3px);
  background-color:$tomato;
}
.line:last-child{
  margin-bottom:0;
}
