/*products*/

.products {
  background: url('../images/section_2/@1x/bg@1x.png')0 0 no-repeat;
  background-size: cover;
  background-position:center center;
  height: 100vh;
  color:$charcoal;

  &__item {
    width: 33%;
    overflow: hidden;
   
    &:last-child{
      margin-bottom:0;
    }
    @include phones{
      width: 100%;
      flex-direction:row;
      
     }
  }
}

.products .container{
  justify-content:center;
 
}

.products__list {
  display: flex;
  justify-content: space-around;

  @include phones{
    flex-direction:column;
   }
}

.products__desc {
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 0 rem(5px);

  @include phones{
    display: flex;
  align-items: center;
  padding: 0 rem(5px);
  flex-direction:row;
  }  
}

.products__icon {
  width: rem(90px);
  height: rem(90px);
  display: flex;
  align-content: flex-start;
  margin: auto;
  @include phones{
    width: rem(75px);
  height: rem(75px);
    margin-right:5%;
   }
}

.products__info {
  text-align: center;

  @include phones{
    text-align:left;
    display:block;
    width:90%;
   }
}

.products__title {
  font-family: 'lifehackmedium';
  font-weight: 500;
  font-size: rem(24px);
  padding: rem(5px) 0;

}

.products__subtitle {
  font-family:'ubuntulight';
  color: $grey;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  margin-bottom: rem(65px);
}