/*promo */
.promo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


  .promo__content {
    display: flex;
    align-items: center;
    margin-bottom:10%;

    @include tablets{
     flex-direction:column;
     padding:0 12%;
       }
  }



.promo__img {
  max-width: rem(440px);
  height: auto;
  display: block;

}

.promo__title {
  font-family: 'gagalinregular';
  text-transform: uppercase;
  font-size: rem(92px);
  color: $yellow;
  @include tablets{
    font-size:rem(72px);
     }
}

.promo__desc {
  font-family: 'lifehackmedium';
  text-transform: lowercase;
  line-height: rem(65px);
  font-weight: 500;
  font-size: rem(65px);
  color: $white;
  align-self: flex-start;

  @include tablets{
    font-size: rem(55px);
    line-height:55px;
     }
}

.promo__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  /*bottom: rem(-34px);*/
  text-align: left;
  @include tablets{
    flex-direction:column;
    bottom: rem(0px);
     }
}

.promo__left {
  margin-right: rem(50px);
  flex: .75;
  
}
.promo__right,
.promo__right{
  @include tablets{
    width:100%;
   text-align:center;
     }
}