/*promo */
.promo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
  .promo__content {
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom:35px;

    @include tablets{
     flex-direction:column;
     padding:0 12%;
       }
  }

.promo__img {
  max-width: rem(440px);
  height: auto;
  display: block;
}

.section__title.promo__title {
  font-family: 'gagalinregular';
  text-transform: uppercase;
  font-size: rem(106px);
  padding:0;
  color: $yellow;

  @include tablets{
    font-size:rem(72px);
    text-align:center;
    margin:0;
     }
}

.promo__desc {
  font-family: 'lifehackmedium';
  text-transform: lowercase;
  line-height: rem(60px);
  font-weight: 500;
  font-size: rem(65px);
  letter-spacing:rem(-1.6px);
  color: $white;
  align-self: flex-start;
  
     @include phones{
      font-size: rem(50px);
      text-align:center;
      line-height:50px;
       }
}

.promo__right {
  width: 50%;
  display: flex;
  flex-direction: column;

  @include tablets{
    flex-direction:column;
    bottom: rem(0px);
     }
}

.promo__right,
.promo__right{
  @include tablets{
    width:100%;
   text-align:center;
     }
}