/*section*/
.section {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

.section__title {
  font-family: 'gagalin';
  font-weight: 400;
  font-size: 72px;
  line-height: 0.89;
  display: flex;
  justify-content: center;
  text-align:center;
  margin-bottom: 60px;
  color:$charcoal;
}

.section__title--orange{
  color:$yellow;
}

.section__title--white{
  color:$white;
  width:80%;
  text-align:left;
}

.section__title--black{
  font-size:61px;

}