/*section*/
.section {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}