/*sidescroll*/

.sidescroll {
  position: fixed;
  display: block;
  padding: rem(6px);
  top: rem(85px);
  right: 23%;

  &__link {
    width: rem(5px);
    height: rem(5px);
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: rem(20px);
    display: inline-block;
    position: relative;
    bottom: -25%;
    right: -26%;
  }

  .sidescroll__item {
    width: rem(16px);
    height: rem(16px);
    border: rem(2px) solid transparent;
    border-radius: 100%;
    margin-bottom: rem(10px);
    line-height: rem(16px);

    &:last-child {
      margin-bottom: 0;
    }

  }

  .sidescroll__item--active {
    width: rem(16px);
    height: rem(16px);
    border: rem(2px) solid #fff;
    border-radius: 100%;
  }
}
