.slider {
  background-image: linear-gradient(to top, #f9b43b,
    #eb8c38 48%, #f9b43b 74%);
}

.slider__content {
  display: flex;
  justify-content:center;
  margin:auto;
  position: relative;
  overflow:hidden;
  padding:1%;
  max-width:80%;
  min-height:90%;

  @include tablets {
  margin:auto;
  position: relative;
  overflow:hidden;
  padding:1%;
  }
}

.slider__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width:100%;
  min-height:100%;

  @include tablets {
    flex-direction:column;
    align-items:center;
  }
  @include phones {
    flex-direction:column;
    align-items:center;
  }

}

.slider__frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width:505px;
  height:330px;
  margin-right:1%;
  position: relative;

   @include tablets {
     flex-direction:column;
     margin-top:15%;
     width:450px;
  height:300px;
   }
   @include phones {
    margin-top:10%;
   }
}

.slider__frame-img{
 background-size:cover;
  max-width: 100%;
  max-height: 100%;
  @include tablets {
    max-width: 80%;
    max-height: 80%;
   }
   @include phones {
    max-width: 80%;
    max-height: 80%;
   }
}

.slider__order {
  display: inline-flex;
  width: 100%;
  justify-content:space-around;
  align-items:center;

  @include tablets {
    justify-content:space-around;
    align-items:center;
    margin:auto;
    width:100%;
    font-size:20px;
    }

  @include phones {
  justify-content:space-around;
  align-items:center;
  margin-right:50px;
  width:100%;
  }
}
.slider__occ{
  text-align:right;
}

.slider__info{
width:50%;
text-align:right;
@include tablets {
  width:100%;
  text-align:center;
  }
  
}

.slider__desc {
  width:75%;
  font-size: rem(14px);
  line-height: rem(24px);
  font-family: 'ubuntu';
  font-weight: 300;
 
  padding: rem(15px);
  color: $white;
  text-align:left;

  @include phones {
    width:95%;
    line-height: 20px;
    text-align:center;
  }
}

.slider__price {
  font-family: 'gagalin';
  font-size: rem(72px);
  color: $tomato;

  /*@include tablets {
    display:inline-flex;
    align-items:center;
    }*/
    @include phones {
      display:inline-flex;
      align-items:center;
      margin-right:2%;
      font-size:rem(40px);
      }
}

span.rub {
  font-size: rem(30px);
  letter-spacing: -0.8;

  @include phones {
    
    font-size:rem(25px);
    }
}

.slider__control-left, 
.slider__control-right{
  position: absolute;
  align-items:center;
  top:50%;
  width:rem(15px);
  height:rem(30px);
}

.slider__control-left{
  left:0;
}

.slider__control-right{
  right:0;
}

