
.socials__item {
  display: inline-flex;
  vertical-align:middle;
	margin-right: 8px;
}

.socials__item:last-child {
	margin-right: 0;
}

.socials__icon {
	width: 20px;
	height: 20px;
	display: block;
  background-repeat: no-repeat;
  fill:$silver;

  &:hover {
    fill:$white;
    transition: 0.5s;
  }
}


