.team {
	position: relative;
	background: url(../images/section_4/SBS_1255-X2@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;

	&__desc {
		width: 50%;
		top: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		align-items: center;
		justify-content: center;
		background-color: $black;
		display: flex;
		flex-direction: column;
	}
}

.team__container {
	width: 70%;

	&__item {
		width: 60%;
		border: pink;
		margin-bottom: rem(40px);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.team__list {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.team__item {
	width: 90%;
}

.team__content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	display: none;
}
.team__trigger {
	font-size: rem(14px);
	font-family: 'gagalin';
	line-height: rem(42px);
	color: $white;
}
.team__photo {
	width: rem(100px);
	height: rem(100px);
	border-radius: 50%;
	overflow: hidden;
	background-size: cover;
	margin-right: rem(15px);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.team__title {
	text-align: left;
}

.team__text {
	justify-content: flex-start;
}

.team__occ {
	width: 50%;
	line-height: rem(24px);
}

.triangle {
	display: inline-block;
	position: absolute;
	left: 16%;
	vertical-align: top;
	border: rem(6px) solid transparent;
	border-top: rem(10px) solid $yellow;
	margin: rem(15px) rem(20px) 0 0;
	transition: .6s;
}
.team__item--active .triangle {
	border: rem(6px) solid transparent;
	border-bottom: rem(10px) solid $yellow;
	margin: rem(9px) rem(20px) 0 0;
	color: $yellow;
}
//временный активный класс
.team__content--active {
	display: flex;
}

.team__trigger--active {
	color: $yellow;
}
