.team{
  position: relative;
  background: url(../images/section_4/SBS_1255-X2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

 &__desc{
  width:50%;
  top:0;
  right:0;
  bottom:0;
  position: absolute;
  background-color:$black;
  display:flex;
  flex-direction:column;

 }
}

.team__container{
 height: 650px;
 padding:60px;
 
 &__item{
  margin-bottom:30px;
}
}

.team__list{
  display:inline-flex;
  flex-direction:column;

}



.subteam__wrap{
  width:100px;
  height:100px;
  border-radius:100%;
  overflow:hidden;
 
  margin-right:10px;
}
.subteam__image{
  min-width:100px;
  max-height:100px;
 
 
 
}