html,
body {
  height: 100%;
}
html{
  font-size:16px;

  @include tablets{
    font-size:14px;
  }
  @include phones{
    font-size:13px;
  }
}

body {
  font-family: 'ubuntu';
  font-weight: 300;
  color: $white;
  background-color: $white;
  font-size: rem(14px);
  line-height: 1.42;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  position: relative;
  min-width:100%;
  min-height: 100%;
  overflow: hidden;
}



.container {
  max-width: rem(940px);
  width:95%;
  margin:0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 rem(10px);

  @include tablets{
    max-width:98%;
  }

  @include phones{
    max-width:98%;
  }
}
